<form class="form-group" action="/paste/new" method="POST">
  <textarea
    name="content"
    class="form-control"
    rows="10"
    placeholder="New paste."
    maxlength="6000"
    required
  ></textarea>
  <br />
  <button class="btn btn-success" type="submit">
    <i class="fas fa-save"></i>
    Save
  </button>
</form>
